<center>
<div class="trade-box result">
<h2>Trade Calculation</h2>
<p>
  <b>Trade type:</b>
  <%= @trade.trade_type %>
</p>

<p>
  <b>Usd:</b>
  $<%= @trade.usd.round(2) %>
</p>

<p>
  <b>Btc:</b>
  <%= @trade.btc.round(8) %>
</p>

<p>
  <b>Price:</b>
  $<%= @trade.price %>
</p>
<p>
  <b>Fee:</b>
  <%= @fee%>
</p>
<p><a href="/">Make another Calculation</a></p>
</div>
</center>
